<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class="banner">
          <google-adsense [slotId]="1862153841"></google-adsense>
        </div>
        <div class="card-header">
          <h4 class=" card-title">Last XRPL transactions spotted as ODL</h4>
          <span class="info-icon">
            <i class="far fa-question-circle"></i>
          </span>

          <div id="infoODL" class="alert alert-success" role="alert">
            <span style="font-size: 16px;padding-bottom: 10px;display:flex;font-weight: bold"> We consider a transaction as ODL only when those 4 criteria are met :</span>
            <p class="category">
              - XRP initially bought at one exchange in local fiat<br>
              - XRP being sent across the XRPL<br>
              - the exact amount of XRP finally sold back at the destination exchange in local fiat<br>
              - the total timeframe should roughly last  4 minutes<br><br>

              The exchange API allows us to track end-to-end ODL transactions, except for http://coins.ph and all future exchanges without API.<br>
            </p>
          </div>

        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
              <tr>
                <th class="date">Date</th>
                <th class="amount" *ngIf="!mobile">Amount</th>
                <th class="value">USD Value</th>
                <th *ngIf="!mobile">From</th>
                <th *ngIf="!mobile">To</th>
                <th>Source Fiat</th>
                <th>Target Fiat</th>
                <th *ngIf="!mobile"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let payment of currentPage">
                <td class="date">{{ payment.dateTime | date:'medium' }}</td>
                <td class="amount" *ngIf="!mobile" >{{ payment.amount | number}} XRP</td>
                <td  class="value">{{ payment.usdValue | currency }}</td>
                <td *ngIf="!mobile">{{ payment.source }}</td>
                <td *ngIf="!mobile">{{ payment.destination }}</td>
                <td>{{ payment.sourceFiat }}</td>
                <td>{{ payment.destinationFiat }}</td>
                <td class="tab-btn" *ngIf="!mobile">
                  <button (click)="info([[payment.transactionHash]])" type="button" class="btn btn-primary"
                          data-toggle="modal" data-target="#myModal">
                    Info
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="pagination-table">
          <ul class="pagination">
            <li (click)="left()"><</li>
            <li>{{pageIndex}}</li>
            <li (click)="right()">></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Informations</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <ul>
                    <li>
                        <span class="modal-desc">Date :</span>
                        {{payment.dateTime | date:'medium'}}
                    </li>
                    <li>
                        <span class="modal-desc">Amount :</span>
                        {{payment.amount | number}} XRP
                    </li>
                    <li>
                        <span class="modal-desc">Usd Value :</span>
                        {{payment.usdValue | currency}}
                    </li>
                    <li>
                        <span class="modal-desc">From :</span>
                        {{payment.source}}
                    </li>
                    <li>
                        <span class="modal-desc">To :</span>
                        {{payment.destination}}
                    </li>
                    <li>
                        <span class="modal-desc">Destination Tag :</span>
                        {{payment.tag}}
                    </li>
                    <li *ngIf="payment.tradeOutIds">
                        <span class="modal-desc">Trades on {{payment.source}} :</span>
                        <div class="tag-w">
                            <span class="trade-tag" *ngFor="let id of payment.fiatToXrpTradeIds">{{id}}</span>
                        </div>
                    </li>

                    <li *ngIf="payment.tradeIds">
                        <span class="modal-desc">Trades on {{payment.destination}} :</span>
                        <div class="tag-w">
                            <span class="trade-tag" *ngFor="let id of payment.xrpToFiatTradeIds">{{id}}</span>
                        </div>
                    </li>
                    <li *ngIf="!payment.tradeIds && !payment.tradeOutIds">
            <span class="modal-desc">
              ODL based on identified Destination Tag on {{payment.destination}}</span>
                        <br>
                        This tag was involved in hundreds of ODL transactions spotted at end to end.
                    </li>
                    <li>
                        <span class="modal-desc">Transaction Hash :</span>
                        <a href="https://bithomp.com/explorer/{{payment.transactionHash}}" target="_blank">{{payment.transactionHash}}</a>
                    </li>
                    <li>
                        <div class="banner">
                            <google-adsense [slotId]="1862153841"></google-adsense>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div id="david" [className]="notifClass" >
  <div class="talk-bubble tri-right round right-in">
    <div class="talktext">
      <p>OHH DAMN ! {{(notif ? notif.amount : 0) | number}} XRP ! That's amazing !</p>
    </div>
  </div>
  <div class="david-pop">
    <span>
      <img src="./assets/images/{{notifier}}pop.gif">
    </span>
  </div>

</div>

