<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 class="modal-title">Informations</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <ul>
          <li>
            <span class="modal-desc">Date :</span>
            {{payment.dateTime | date:'medium'}}
          </li>
          <li>
            <span class="modal-desc">Amount :</span>
            {{payment.amount | number}} XRP
          </li>
          <li>
            <span class="modal-desc">Usd Value :</span>
            {{payment.usdValue | currency}}
          </li>
          <li>
            <span class="modal-desc">From :</span>
            {{payment.source}}
          </li>
          <li>
            <span class="modal-desc">To :</span>
            {{payment.destination}}
          </li>
          <li>
            <span class="modal-desc">Destination Tag :</span>
            {{payment.tag}}
          </li>
          <li *ngIf="payment.tradeOutIds">
            <span class="modal-desc">Trades on source exchange ({{payment.source}})</span>
            {{ payment.tradeOutIds }}
          </li>
          <li *ngIf="payment.tradeIds">
            <span
              class="modal-desc">Trades on destination exchange ({{payment.destination}})</span>
            {{ payment.tradeIds }}
          </li>
          <li>
            <span class="modal-desc">Transaction Hash :</span>
            <a href="https://xrpscan.com/tx/{{payment.transactionHash}}" target="_blank">{{payment.transactionHash}}</a>
          </li>
        </ul>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>


    </div>
  </div>
</div>


<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">
          <h4 class=" card-title">Last XRPL transactions spotted as ODL</h4>
          <p class=" category">We Consider A Transaction As ODL When It Is Initiated From AN Xrapid Partner And Lands In
            Another Xrapid Partner, And Which Is Followed In The Next Few Seconds By A Sale Of XRP To The Local
            Currency</p>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <div class="search-popup" style="display: none">

                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">From</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose</option>
                    <option value="1">BITSTAMP</option>
                    <option value="2">BITSTAMP</option>
                    <option value="3">BITSTAMP</option>
                  </select>
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">To</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose</option>
                    <option value="1">BITSTAMP</option>
                    <option value="2">BITSTAMP</option>
                    <option value="3">BITSTAMP</option>
                  </select>
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Source</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose</option>
                    <option value="1">BITSTAMP</option>
                    <option value="2">BITSTAMP</option>
                    <option value="3">BITSTAMP</option>
                  </select>
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Target</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose</option>
                    <option value="1">BITSTAMP</option>
                    <option value="2">BITSTAMP</option>
                    <option value="3">BITSTAMP</option>
                  </select>
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PM</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">AM</a>
                    </div>
                  </div>
                  <input placeholder="00:00" type="text" class="form-control" aria-label="Text input with dropdown button">
                </div>

                <a href="#" class="align-right btn btn-primary">Valid</a>
              </div>

              <thead class=" text-primary">
              <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>USD Value</th>
                <th>From</th>
                <th>To</th>
                <th>Source Fiat</th>
                <th>Target Fiat</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let payment of currentPage">
                <td>{{ payment.dateTime | date:'medium' }}</td>
                <td>{{ payment.amount | number}} XRP</td>
                <td>{{ payment.usdValue | currency }}</td>
                <td>{{ payment.source }}</td>
                <td>{{ payment.destination }}</td>
                <td>{{ payment.sourceFiat }}</td>
                <td>{{ payment.destinationFiat }}</td>
                <td class="tab-btn">
                  <button (click)="info([[payment.transactionHash]])" type="button" class="btn btn-primary"
                          data-toggle="modal" data-target="#myModal">
                    Info
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="pagination-table">
          <ul class="pagination">
            <li (click)="left()"><</li>
            <li>{{pageIndex}}</li>
            <li (click)="right()">></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<div id="david" class="{{notif == null ? '' : 'active'}}" >
  <div class="talk-bubble tri-right round right-in">
    <div class="talktext">
      <p>OHH DAMN ! {{(notif ? notif.amount : 0) | number}} XRP ! That's amazing !</p>
    </div>
  </div>
  <div class="david-pop">
    <span>
      <img src="./assets/images/{{notifier}}pop.gif">
    </span>
  </div>

</div>

