<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 class="modal-title">Informations</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <ul>
          <li>
            <span class="modal-desc">Date :</span>
            {{payment.dateTime | date:'medium'}}
          </li>
          <li>
            <span class="modal-desc">Amount :</span>
            {{payment.amount | number}} XRP
          </li>
          <li>
            <span class="modal-desc">Usd Value :</span>
            {{payment.usdValue | currency}}
          </li>
          <li>
            <span class="modal-desc">From :</span>
            {{payment.source}}
          </li>
          <li>
            <span class="modal-desc">To :</span>
            {{payment.destination}}
          </li>
          <li>
            <span
              class="modal-desc">You can check these trades on {{payment.spottedAt == 'SOURCE' ? payment.source : payment.destination}}</span>
            <td>{{ payment.tradeIds }}
          </li>
          <li>
            <span class="modal-desc">Transaction Hash :</span>
            <a href="https://xrpscan.com/tx/{{payment.transactionHash}}" target="_blank">{{payment.transactionHash}}</a>
          </li>
        </ul>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>


    </div>
  </div>
</div>


<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">
          <h4 class=" card-title">Last XRPL transactions spotted as ODL</h4>
          <p class=" category">We Consider A Transaction As ODL When It Is Initiated From AN Xrapid Partner And Lands In
            Another Xrapid Partner, And Which Is Followed In The Next Few Seconds By A Sale Of XRP To The Local
            Currency</p>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
              <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>USD Value</th>
                <th>From</th>
                <th>To</th>
                <th>Target Fiat</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let payment of currentPage">
                <td>{{ payment.dateTime | date:'medium' }}</td>
                <td>{{ payment.amount | number}} XRP</td>
                <td>{{ payment.usdValue | currency }}</td>
                <td>{{ payment.source }}</td>
                <td>{{ payment.destination }}</td>
                <td>{{ payment.destinationCurrencry }}</td>
                <td class="tab-btn">
                  <button (click)="info([[payment.transactionHash]])" type="button" class="btn btn-primary"
                          data-toggle="modal" data-target="#myModal">
                    Infos
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="pagination-table">
          <ul class="pagination">
            <li (click)="left()"><</li>
            <li>{{pageIndex}}</li>
            <li (click)="right()">></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<div id="david" class="{{notif == null ? '' : 'active'}}" >
  <div class="talk-bubble tri-right round right-in">
    <div class="talktext">
      <p>OHH DAMN ! {{(notif ? notif.amount : 0) | number}} XRP ! That's amazing !</p>
    </div>
  </div>
  <div class="david-pop">
    <span>
      <img src="./assets/images/bradpop.gif">
    </span>
  </div>

</div>

