<footer class=" footer">
    <div class=" container-fluid">

        <div class=" copyright-w">

            <div class="tipbot">
                <a amount="1" size="275" to="mouradski" network="twitter" href="https://www.xrptipbot.com"
                   target="_blank"></a>
                <script async src="https://www.xrptipbot.com/static/donate/tipper.js" charset="utf-8"></script>
                <a href="/#/api">
                    <button type="button" class="btn btn-danger">GET API</button>
                </a>

            </div>
            <div>
            </div>

            <div class="banner">
            </div>

            <div class="copyright">
                <div class="copyright__item">
                    Conceptor & Developer <a href="https://twitter.com/mouradski" target="_blank">Mourad TOUMI
                    @mouradski</a>
                </div>
                <div class="copyright__item">
                    Analyst & Developer <a href="https://twitter.com/0Llac3" target="_blank">Labo-a-crypto-3.0 @0Llac3</a>
                </div>
                <div class="copyright__item">
                    Integrator/designer <a href="https://twitter.com/badrain344" target="_blank">XrPeace @badrain344</a>
                </div>

            </div>

            <div class="git">
                <a href="https://github.com/mouradski/xrapid_alert" target="_blank"><i class="fab fa-github"></i>
                    xrapid_alert</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.coil.com/counter.js"></script>
    <script>
        window.WebMonetizationScripts.createCounter()
    </script>
</footer>
