

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p><strong>Utility-Scan</strong> provides this website, charts and its contents for informational purposes only.<br>
    You should not construe any information presented here as financial, investment, tax, legal or other advice. Trading and investing in cryptocurrencies involves significant risk of loss and is not suitable for every investor.<br>
    Please consult your financial advisor before investing.Utility-Scan is independent of Ripple and has not been authorized,endorsed, sponsored or otherwise approved by Ripple or its affiliates.</p>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class=" content">
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">USD 24H Volume</h5>
          <h3 class=" card-title">
<!--            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 9000,215-->
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area">
            <canvas id="chart1"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">USD Today Volume per Corridor</h5>
          <h3 class=" card-title">
<!--            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> {{stats.allTimeVolume}}-->
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area">
            <canvas id="chart2"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Summary</h5>
          <h3 class=" card-title">
<!--            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 9000,215-->
          </h3>
        </div>
        <div class=" card-body">
           <!-- block derniere trx a designer -->
          <div class="chart-area last-trx">
              <p><b>All Time Volume : </b> {{stats.allTimeVolume | currency}}</p>
              <p><b>Date start calculation :  </b> {{stats.allTimeFrom | date:'medium'}}</p>

              <!-- block derniere trx a designer -->
              <div>
                <p><b>Last ODL transaction spotted</b></p>
                <p><b>USD Value : </b> {{lastTransaction.usdValue | currency}}</p>
                <p>FROM <b>{{lastTransaction.source}} TO {{lastTransaction.destination}}</b></p>
              </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
