<div class="container">
    <div class="row">
    <div class="col-sm-12">
        <div class="card card-plain">
            <div class="card-header">
                <h4 class=" card-category">Last transactions</h4>
                <span class="info-icon">
            <i class="far fa-question-circle"></i></span>
                <div id="infoODL" class="alert alert-success" role="alert">
                    <span style="font-size: 16px;padding-bottom: 10px;display:flex;font-weight: bold"> Transactions shown :</span>
                    <!-- google_ad_section_start -->
                    <p class="category">
                        - Last 10 transactions<br>
                        - Real-Time ODL transactions<br>
                       <br>
                    </p>
                    <!-- google_ad_section_end -->
                </div>
            </div>
            <div class="card-body">
                <div id="mapdiv" style="height: 300px"></div>
            </div>
        </div>
    </div>
    </div>
</div>
