<div *ngIf="ledgerIndex">
    <div class=" content">
        <div class=" row">
            <div class=" col-lg-12">
                <div class="card-summary  card card-chart">
                    <div class=" card-header">
                        <h5 class=" card-category">XRPL</h5>
                        <h3 class=" card-title">
                            <!--            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 9000,215-->
                        </h3>
                    </div>
                    <div class=" card-body">
                        <div class="chart-area last-trx">
                            <p><b>Last Ledger Validated by Utility-Scan at index {{ledgerIndex}} :</b> <a href="https://xrpscan.com/ledger/{{ledgerHash}}"
                                                                                                  target="_blank">{{ledgerHash}}</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
