#scroller * {
    overflow-anchor: none;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}

:root {
    font-family: sans-serif;
}

body {
    background-color: #7FDBFF;
    height: 300px;
}

.message {
    padding: 0.5em;
    border-radius: 1em;
    margin: 0.5em;
    line-height: 1.1em;
    background-color: white;
}