.main-panel {
  &, &[data="red"]{
    border-color: $danger;
  }

  .content {
    padding-top: 20px;
    //padding: 78px 30px 30px 0px;
    //min-height: calc(100vh - 70px);
  }
  background: none;
  border: none;
}
@media screen and (max-width: 768px){
  .main-panel .content {
      padding-left: 15px;
      padding-right: 15px;
  }
}
.logo-img{
  width: 35px;
  height: 35px;
  display: block;
  margin-left: 2px;
  position: absolute;
  top: 12px;
    img{
        width: 35px;
    }
}
.sidebar, .off-canvas-sidebar{
  &, &[data="red"]{
    @include linear-gradient($danger-states, $danger);
  }
  &[data="primary"]{
    @include linear-gradient($primary-states, $primary);
  }
}
@media screen and (max-width: 991px){
  .main-panel {
      .content {

    }
  }
  .fixed-plugin .dropdown-toggle:after{
    display: none;
  }
}


.navbar-w{
  background: #1a1e34;
  .navbar{
    padding: 15px 0;
    justify-content: center;

    .navbar__logo{
      justify-content: center;

      img{
        height: 38px;

      }
    }
    .beta{
      margin-left: 20px;
      color: white;
      padding-top: 6px;

      span{
        font-weight: bold;
        font-size: 13px;
      }
    }
  }
}
